@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Artist</th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>


@section Scripts{
    <script src="~/js/music.js"></script>
}